@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Matemasie&display=swap');


body {
  overflow-x: hidden; 
  padding: 0;
  margin: 0;
  font-family: "Kanit", sans-serif;
}

.navright div{

mix-blend-mode: difference;
color: white;
z-index: 100;

}
.left h1{
  line-height: 25vh;
}
.actions button{
  padding: 8px 22px 8px 22px;
  border:2px solid black;
  border-radius: 50vw;
  transition: 0.3s;
  text-transform: uppercase;
}
.actions button:hover{
color: white;
background-color: black;
transform: translateY(4px);
}

.proname{
  mix-blend-mode:difference;
  color: white;
}
.sercont{
  background-color: rgb(25, 25, 25);
  backdrop-filter: blur(25px);
  color: rgb(207, 207, 207);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition:background-color 1s;
}
.sercont:hover{
background-color: rgba(0, 0, 0, 0.305);
transform: scale(1.1);
}
.sercont h1{
  font-size: 22px;
}
.title{
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 600;
}

.skills div{
  height:80%;
  aspect-ratio: 4/5;
  background-color: rgba(9, 86, 86, 0.301);
  border-radius: 20px;
  backdrop-filter: blur(22px);
}

.landright img{
  box-shadow: 0px 0px 0px  rgb(235, 235, 235);
}
.landright img:hover{
  box-shadow: 3px 4px 6px rgb(154, 154, 154);
}
.formcont{
  border-bottom: 1px solid black;
  border-radius: 0px;
  outline: none;


}
.procont{
  box-shadow: 12px 12px 10px rgb(0, 0, 0);
}

.skills{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.chesscont{
  filter:grayscale(1) ;
  background-color: black;
  
  box-shadow: 2px 3px 4px inset rgb(224, 0, 0);
}
.chesscont h2{
  z-index: 20;
  font-size: 4vw;
  color: white;
  font-weight: 100;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  mix-blend-mode: difference;
}
