@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'morqueen';
  src: url('./assets/morqueen.otf') format('truetype');
  font-weight: normal; /* or bold if it's a bold font */
  font-style: normal;  /* or italic if it's an italic font */
}

.font1{
 font-family: "morqueen", sans-serif;
}

body {
  overflow-x: hidden; 
  padding: 0;
  margin: 0;
}

.navright div{

mix-blend-mode: difference;
color: white;
z-index: 100;
}

.left h1{
  line-height: 25vh;
}
.actions button{
  padding: 8px 22px 8px 22px;
  border:2px solid black;
  border-radius: 50vw;
  transition: 0.3s;
  text-transform: uppercase;
}
.actions button:hover{
color: white;
background-color: rgb(10, 10, 10);
transform: translateY(4px);
}

.proname{
  mix-blend-mode:difference;
  color: white;
}

.sercont{
  background-color: rgb(25, 25, 25);
  backdrop-filter: blur(25px);
  color: rgb(207, 207, 207);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition:background-color 1s;
}
.sercont:hover{
background-color: rgba(0, 0, 0, 0.305);
transform: scale(1.1);
}
.sercont h1{
  font-size: 22px;
}
.title{
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 600;
}

.skills div{
  height:80%;
  aspect-ratio: 4/5;
  background-color: rgba(9, 86, 86, 0.301);
  border-radius: 20px;
  backdrop-filter: blur(22px);
}

.landright img{
  box-shadow: 0px 0px 0px  rgb(235, 235, 235);
}

.formcont{
  border-bottom: 1px solid black;
  border-radius: 0px;
  outline: none;
}

.procont{
  box-shadow: 12px 12px 10px rgb(0, 0, 0);
}


.chesscont{
  filter:grayscale(1) ;
  background-color: black;
}
.chesscont h2{
  z-index: 20;
  font-size: 4vw;
  color: white;
  font-weight: 100;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  mix-blend-mode: difference;
}

.uptext, .downtext {
  position: block; 
}

.social a h1{
  color: black;
  opacity: 0;
  transition: 0.4s;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom:-15px

  
}
.social a:hover h1 {
  opacity: 1;
  transform: translate(-50%,13px );

}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 30;
  pointer-events: none;
  background: linear-gradient(70deg,  rgb(0, 0, 0), rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, rgb(0, 0, 0));
}

@media only screen and (orientation: portrait) {
  .navbar{
    height: 8vh;
  }
  .navright{
    display:none;
  }

  .maincont{
    align-items: center;
  }
  .proname{
    align-items: start;
  }
  .chesscont{
    height:30vh
  }
  .chesscont h2{
    font-size: 8vw;
  }
  .actions button{
  
    font-size: 12px;
  }
}